:root{
    --font-color:white;
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    font-size:2rem;
    margin:1rem auto;
    color: var(--font-color);
    
   
    /* justify-content: space-between; */
   
}

.header{
    margin:0.5rem;
    padding: 0.3rem;
    display:flex;
    justify-content: space-between;
}

.middle{
    font-size: 5rem;
    margin:0.5rem auto;
    padding:0.3rem;
    display: flex;
    justify-content: center;
}
.deg{
    font-size: 5rem;
    padding-bottom: 2rem;
}
.footer{
    margin:0.5rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    
}

.icon{
    margin: 0.5rem;
    font-size: 5rem;
    font-weight: bold;
}
.weather{
    margin: 0.5rem;
    font-size: 3rem;
    font-weight: lighter;
}
@media screen and (max-width:600px) {
    .card{
        font-size: 1.5rem;
        display: flex;
    }
    .deg, .middle, .icon,.weather{
        font-size: 3rem;
        margin: 1rem 0rem;
    }
    
    
  }
 
  