@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* background: linear-gradient(to bottom, #529aa9, #42869a, #33738a, #26607a, #1a4e6a, #103c59, #062b48, #011b37); */
  background-image: url("./sky3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  
  ;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
